<div class="container">
  <h3>To-do List</h3>

  <form class="form-container" #myF="ngForm" (ngSubmit)="onsubmit(myF)">
    <input type="text" id="todoTitle" name="todoTitle" required ngModel />
    <div>
      <button type="submit" value="submit" class="btn-floating waves-effect waves-light green"><i
          class="material-icons">add</i></button>
    </div>
  </form>


  <ul>
    <li *ngFor="let todo of todos">
      <div class="todo-list" *ngIf="!this.todo.isComplete">
        <div class="todoName">
          {{this.todo.todoName}}
        </div>
        <div class="actionButtons">
          <div>
            <button class="btn-floating waves-effect waves-light blue" (click)="onComplete(this.todo.id)"><i
                class="material-icons">check</i></button>
          </div>
          <div>
            <button class="btn-floating waves-effect waves-light red" (click)="onDelete(this.todo.id)"><i
                class="material-icons">delete</i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>


  <ul>
    <li *ngFor="let todo of todos">
      <div class="todo-list" *ngIf="this.todo.isComplete">
        <div class="todoName isComplete">
          {{this.todo.todoName}}
        </div>
        <div class="actionButtons">
          <div>
            <button class="btn-floating waves-effect waves-light blue" (click)="onComplete(this.todo.id)"><i
                class="material-icons">check</i></button>
          </div>
          <div>
            <button class="btn-floating waves-effect waves-light red" (click)="onDelete(this.todo.id)"><i
                class="material-icons">delete</i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>